<h1>Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.prod_name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


<h1>Most recent products</h1>
<% if @products.any? %>
<ul>
  <% @products.each do |three_most_recent| %>
    <li><%= link_to three_most_recent.prod_name, product_path(three_most_recent) %></li>
  <% end %>
</ul>
<% else %>
<p>No products added recently :( </p>
<% end %>

<p><%= link_to "Create new product", new_product_path %></p>
